<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <a class="navbar-brand" routerLink="/">
    <img class="navbar-logo" src="assets/Logo.png" />
  </a>

  <div class="collapse navbar-collapse">
    <div class="navbar-nav mr-auto my-navbar">
      <a class="nav-link" routerLink="/">
        <button mat-raised-button color="primary" class="btn">
          <mat-icon>home</mat-icon> <span> Home</span>
        </button></a
      >
      <a class="nav-link" routerLink="/about">
        <button mat-raised-button color="primary">
          <mat-icon>info</mat-icon>
          <span>About</span>
        </button></a
      >
      <a class="nav-link" routerLink="/cart">
        <button
          mat-raised-button
          color="primary"
          [matBadge]="this.cartService.cartNumber()"
          matBadgeColor="accent"
        >
          <mat-icon>shopping_cart</mat-icon>

          <span>Cart</span>
        </button></a
      >
    </div>
  </div>
</nav>

<main class="container">
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
